{% extends "StripeApp/base.html" %}
{% block head%}
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}
{% block content %}

        <h1>{{ item.name }}</h1>
        <p>{{ item.description }}</p>
        <p>{{ price }} {{ item.currency }}</p>
        <button class="btn btn-primary" id="buy-button">Buy</button>
        {%endblock%}
        {% block footer %}
        <script type="text/javascript">
            var stripe = Stripe('{{ PUBLIC_KEY }}');
            var buyButton = document.getElementById('buy-button');
            buyButton.addEventListener('click', function () {
                fetch('/buy/{{ item.pk }}', {method: "GET"})
                    .then(response => response.json())
                    .then(session => stripe.redirectToCheckout({sessionId: session.id}))
            });
        </script>
        {%endblock%}