{% extends "StripeApp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Создать Tax</h1>
    <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Tax Name</h2>
            {{ form.name }}
            <br />
            <h2>Tax Description</h2>
            {{ form.description }}
            <br />
            <h2>Inclusive -> True, Exclusive -> False</h2>
            {{ form.inclusive }}
            <br />
            <h2>Процент</h2>
            {{ form.percentage }}
            <br />
            <br />
            <button class="btn btn-primary" type="submit">Create</button>
        </form>
{% endblock %}