{% extends "StripeAppPI/base.html" %}
{% block head%}
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}
{% block content %} 
<h1>{{ item.name }}</h1>
<p>{{ item.description }}</p>
<p>{{ price }} {{ item.currency }}</p>
 <div id="card-element" class="MyCardElement" style="width: 400px;">
 </div>
<button id="payment-button" class="btn btn-primary">
    Buy
</button>
{% endblock %}
{% block footer %}
<script>
    var stripe = Stripe('{{ PUBLIC_KEY }}');
    var elements = stripe.elements();
    var cardElement = elements.create("card");
    cardElement.mount("#card-element");

    var buyButton = document.getElementById('payment-button');
    buyButton.addEventListener('click', function () {
        fetch('/payment/buy/{{ item.pk }}', {method: "GET"})
                    .then(response => response.json())
                    .then(client_secret =>
            stripe
                .confirmCardPayment(client_secret.clientSecret, {
                    payment_method: {
                        card: cardElement,
                    }
                })
                .then(function (result) {
                    console.log(result)
                    if (result.paymentIntent.status === "succeeded") {
                        window.location.replace("{{URL}}/success");
                    }
                })
            );
    });
</script>
{% endblock %}